.maincontainer {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.chat-container {
    width:45%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background: url('../../public/bgwapp.jpg');
    font-family: 'Roboto', sans-serif;
    position: relative;
}

.chat-header {
    background-color: #075e54;
    color: white;
    padding: 8px 20px;
    text-align: right;
    font-size: 16px;
    font-weight: bold;
}

.emoji-btn {
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 5px;
    margin-right: 5px;
}

.emoji-btn svg {
    color: #555;
}

.emoji-picker {
    position: absolute;
    bottom: 50px;
    left: 10px;
    z-index: 100;
}

.attach-file{
    color: #555;
}

.message-box {
    flex-grow: 1;
    overflow-y: auto;
    padding: 20px;
    padding-bottom: 80px;
}

.sent-image {
    width: 200px;
    height: auto;
    border-radius: 10px;
    margin-top: 5px;
}

.message {
    width: auto;
    max-width: fit-content;
    padding: 0px 10px;
    margin-bottom: 10px;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
    position: relative;
    word-wrap: break-word;
}

.message .time {
    padding-left: 18px;
    color: #87949c;
    font-size: 13px;
}

.message .seen {
    padding-left: 8px;
    color: #5ac0e9;
    width: 18px;
    height: auto;
}

.message.sent {
    background-color: #dcf8c6;
    color: #1e282d;
    margin-left: auto;
}

.message.received {
    background-color: #ffffff;
    border: 1px solid #ddd;
    color: #1e282d;
    margin-right: auto;
}

.myinput-container {
    display: flex;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #202c33;
    padding: 10px;
}

.myinput-field {
    flex-grow: 1;
    padding: 12px;
    border-radius: 8px;
    border: 1px solid #ddd;
    color: #c9cfd4;
    margin-right: 10px;
    font-size: 16px;
    background-color: #2a3942;
}

.myinput-field:focus {
    outline: none;
    border: none !important;
}

.send-btn {
    padding: 10px 15px;
    border-radius: 10px;
    background-color: #075e54;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.send-btn:hover {
    background-color: #128c7e;
}

@media (max-width: 768px) {
    .chat-header {
        font-size: 18px;
    }

    .message {
        max-width: 80%;
    }

    .myinput-container {
        padding: 8px;
    }

    .myinput-field {
        padding: 10px;
        font-size: 14px;
    }

    .send-btn {
        padding: 8px;
        font-size: 16px;
    }
}

@media (max-width: 480px) {
    .message {
        max-width: 90%;
    }

    .myinput-field {
        font-size: 14px;
    }

    .send-btn {
        font-size: 14px;
        padding: 8px;
    }
}